:root {
    --amarillo: #F2BE5C;
    --amarilloSecundario: #f2bd5cc7;
    --rojo: #8C1C1C;
    --rojoSecundario: #8c1c1cb2;
    --gris: #3C3D40;
    --grisSecundario: #3c3d40e7;
    --verde: #005C53;
    --verdeSecundario: #005c53a8;
    --verdeTerciario: #005c5379;
    --fuente: "Open Sans", sans-serif;
}

/* ======================== */
/* GLOBALES */
/* ======================== */
* {
    scroll-behavior: smooth;
}

html {
    font-family: var(--fuente);
}

body {

}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 100rem;
    height: 100%;
    margin: 0 auto;
}

section {
    width: 100%;
}

.img-logo {
    width: 5rem;
}

li {
    list-style:  none;
}

a {
    text-decoration: none;
}

.titles {
    font-size: 2.5rem;
    color: #FFF;
}

@media (min-width: 900px) {
    .titles {
        font-size: 3.5rem
    }
}

.background {
    background-size: cover;
    background-position: center center;
}

p {
    color: #FFF;
}

button {
    width: 15rem;
    height: 2.8rem;
    border-radius: 3rem;
    border: none;
    background-color: var(--amarillo);
    cursor: pointer;
    font-size: .9rem;
    letter-spacing: .1rem;
    transition: all .3s ease-in-out;
    font-weight: 600;
    color: #FFF;
    border: 2px solid var(--amarillo);
}

button:hover {
    background-color: transparent;
    transform: scale(0.9);
}

/* ======================== */
/* FILTROS */
/* ======================== */
.filtro::before {
    position: absolute;
    content: '';
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: var(--verdeTerciario);
}

.relative {
    position: relative;
}

/* ======================== */
/* FONDOS */
/* ======================== */
.brand-section {
    background-image: url(../img/banner1.jpg);
}

.about-us {
    
}

.services-hero {
    background-image: url(../img/banner2.jpg);

}

.about {
    background-image: url(../img/banner3.jpg);
}

.contact {
    background-image: url(../img/contact.jpg);
}

/* ======================== */
/* HEADER */
/* ======================== */
header {
    width: 100%;
    padding: 1rem;
}

/* ======================== */
/* NAV  */
/* ======================== */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a img {
    margin-bottom: 2rem;
}

nav ul {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

nav ul li a {
    color: var(--verde);
    font-weight: bold;
    transition: all .3s ease;
}

nav ul li a:hover {
    color: var(--rojo);
    font-weight: bold;
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
    }

    nav a img {
        margin: 0;
    }
    
    nav ul {
        flex-direction: inherit;
        gap: 2rem;
        align-items: center;
    }
}

/* ======================== */
/* SECTION BRAND */
/* ======================== */
.brand-section {
    height: 100vh;
}

.brand-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 2rem;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand i {
    width: 1.5rem;
    color: var(--amarillo);
    background-color: transparent;
}

.brand h3 {
    color: var(--amarillo);
}

.brand-description {
    text-align: center;
}

.brand-description h1 {
    margin-bottom: 2rem;
}

.brand-description p {

}

.buttons {
    text-align: center;
}

@media (min-width: 900px) {
    .brand-section {

    }

    .brand-container {
        
    }

    .brand {
        justify-content: flex-start;
    }
    
    .brand i {

    }

    .brand-description {
        text-align: left;
    }
    
    .brand-description h1 {
        margin: none;
    }
    
    .brand-description p {

    }

    .buttons {
        display: flex;
        gap: 1rem;
    }
}

/* ======================== */
/* CONTENT BAR*/
/* ======================== */
.about-content-bar {
    background-color: var(--grisSecundario);
    color: #FFF;
}

.content-bar {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
}

.content-bar h1 {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .content-bar h1 {
        font-size: 2.5rem;
    }
}

/* ======================== */
/* SECTION ABOUT */
/* ======================== */
.about-us {
    height: auto;
    background-color: var(--grisSecundario);
    padding: 5rem 0;
}

.content-about {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.content-about .box {
    width: 80%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FFF;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

.content-about .box:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    box-shadow: 4px 10px 10px #414141;
}

.content-about .box i {
    width: 7rem;
    height: 7rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    border-radius: 50%;
    background-color: var(--rojo);
    color: #FFF;
}

.content-about .box h3 {
    color: var(--rojo);
}

.content-about .box p {
    color: var(--gris);
}

@media (min-width: 900px) {
    .about-us {
        padding: 7rem 0;
        height: 100%;
    }
    
    .content-about {

    }
    
    .content-about .box {
        width: 22rem;
    }

    .content-about .box i {
        
    }

    .content-about .box h3 {
        
    }

    .content-about .box p {

    }
}

/* ======================== */
/* ABOUT */
/* ======================== */
.about {
    height: auto;
}

@media (min-width: 1200px) {
    .about {
        height: 100vh;
    }
}

.content-about-us {
    width: 90%;
    height: inherit;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.content {
    display: inherit;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0;
}

.content p {
    margin: 3rem 0;
}

.content-cards-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.content-cards-about .card-about {
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #FFF;
    border-radius: 2rem;
    transition: all .2s ease-in;
}

.content-cards-about .card-about:hover {
    box-shadow: 4px 10px 20px #242424;
    transform: scale(1.1);

}

.content-cards-about .card-about i {
    width: 6rem;
    height: 6rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    color: #FFF;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.content-cards-about .card-about h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.content-cards-about .card-about p {
    margin: 0;
    text-align: center;
    color: var(--gris);
}

.fa-industry {
    background-color: var(--verde);
}

.fa-road-circle-check {
    background-color: var(--rojo);
}

.fa-star {
    background-color: var(--amarillo);
}

/* ======================== */
/* CONTACT */
/* ======================== */
.contact {
    height: auto;
    text-align: center;
    padding: 2rem 0;
    /* background-image: url(../img/carros.jpg); */
}

.content-contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-contact h1 {
    color: var(--verde);
}

.content-contact p {
    color: var(--verde);
    margin: 2rem 0;
}

.content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: auto;
    margin-top: 2rem;
}

.contact-text {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--verdeSecundario);
    padding: 2rem;
}

.contact-text .items-contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: .5rem 0;
}

.contact-text .items-contact:hover {
    transition: all .3s ease;
    transform: scale(0.9);
}

.contact-text .items-contact p {
    color: #FFF;
}

.contact-text .items-contact i {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--gris);
    color: #FFF;
}

.contact-text .items-contact p {

}

form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding: 2rem 0;
    gap: 2rem;
    background-color: var(--gris);
}

label {
    color: #FFF;
    font-weight: bold;
    letter-spacing: .1rem;
}

.campos {
    width: 80%;
}

.campos input, textarea {
    width: 100%;
    height: 2.8rem;
    padding-left: 1rem;
    border: none;
    border-bottom: 1px solid var(--gris);
    background-color: #f0f0f0;
}

.campos textarea {
    height: 10rem;
    padding: 1rem;
}

.campos input[type="submit"] {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: var(--verdeSecundario) !important;
    color: #FFF;
    font-size: 1rem;
    letter-spacing: .1rem;
    border-radius: 2rem;
    width: 15rem;
}

.campos input[type="submit"]:hover {
    transition: all .3s ease-in-out;
    background-color: #FFF !important;
    color: var(--verde);
}

@media (min-width: 900px) {
    .contact {
        height: 100vh;
        padding: 0;
    }

    .content-contact p {
        
    }

    .content-form {
        flex-direction: row-reverse;
        height: 40rem;
    }

    .contact-text {
        width: 30%;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 0;
    }
    
    form {
        width: 45%;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;    
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

/* ======================== */
/* FOOTER */
/* ======================== */
footer {
    padding: 0 2rem;
}

.content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0;
}

@media (min-width: 768px) {
    .content-footer {
        flex-direction: row;
    }
}

footer p {
    color: var(--rojo);
    font-weight: bolder;
}
